@import '~styles/variables';

.EventBox {
  height: 0;
  position: absolute;
  width: 389px;
  opacity: 1;
  transition: opacity .5s;
  box-shadow: 0 5px 35px 5px rgba(21, 21, 22, 0.19), 0 10px 14px -4px rgba(21, 21, 22, 0.45);
  .bubbleAnchor {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 16px;
    left: 0;
    z-index: 10000;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, 0);
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid rgba(17, 164, 27, 0.8);
    }
  }
  .content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    padding: 15px;
    overflow-y: auto;
    width: 389px;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: $event-text-color;
    box-shadow: 0 5px 35px 5px rgba(21, 21, 22, 0.19), 0 10px 14px -4px rgba(21, 21, 22, 0.45);
    border-radius: 5px;
    background-color: $event-bg-color;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    strong {
      font-weight: bold;
    }
    .userDetails {
      padding-top: 10px;
      display: flex;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        border-radius: 30px;
      }
      small {
        padding-left: 10px;
        opacity: 0.5;
        font-size: 11px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.82;
        letter-spacing: normal;
        color: $event-text-color;
      }
    }
  }
}