<div>
    <h1>
        Welcome to {{title}}!
    </h1>
    <nav mat-tab-nav-bar mat-align-tabs="center">
        <a mat-tab-link routerLink="/route1">Rout1</a>
        <a mat-tab-link routerLink="/route2">Rout2</a>
        <a mat-tab-link routerLink="/">Home</a>
    </nav>
    <mat-list>
        <h3 mat-subheader>Events</h3>
    <mat-list-item *ngFor="let evt of events">
        <h4 mat-line>Topic: {{evt.topic}}</h4>
        <p mat-line> Challenge Name: {{evt.challengeName}} </p>
        <p mat-line> Challenge Type: {{evt.challengeType}} </p>
        <p mat-line> challenge Prizes: {{evt.challengePrizes}} </p>
        <p mat-line *ngIf="evt.firstName && evt.lastName"> User Name: {{evt.firstName}} {{evt.lastName}} </p>
        <img src="{{evt.photoURL}}" *ngIf="evt.photoURL">
    </mat-list-item>
    </mat-list>
</div>
<router-outlet></router-outlet>