@import '~styles/variables';

.Stats {
  .statistic {
    padding-top: 25px;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    strong {
      flex: 1;
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: $corona-white;
    }
    small {
      opacity: 0.23;
      flex: 1;
      font-size: 11px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.82;
      letter-spacing: normal;
      color: $corona-white;
    }
  }
}
