{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  plugins: [
    "module:@babel/plugin-proposal-class-properties",
    "module:@babel/plugin-proposal-export-default-from",
    "module:@babel/plugin-proposal-logical-assignment-operators",
    ["module:@babel/plugin-proposal-optional-chaining", { "loose": false }],
    ["module:@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
    ["module:@babel/plugin-proposal-nullish-coalescing-operator", { "loose": false }],
    "module:@babel/plugin-proposal-do-expressions"
  ]
}