@import '~styles/variables';

.EventDot {
  display: block;
  position: absolute;
  top: calc(-#{$event-dot-outer-diameter} / 2);
  left: calc(-#{$event-dot-outer-diameter} / 2);
  height: $event-dot-outer-diameter;
  width: $event-dot-outer-diameter;
  background: transparent;
  border-radius: calc(#{$event-dot-outer-diameter} / 2);
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:hover,
  &:focus {
    background: transparent;
  }
  &:focus {
    outline: none;
  }
  &.active {
    background: $event-dot-active-color;
    .inner {
      animation: none;
    }
  }
  .inner {
    display: block;
    position: relative;
    height: $event-dot-inner-diameter;
    width: $event-dot-inner-diameter;
    margin: calc(calc(#{$event-dot-outer-diameter} - #{$event-dot-inner-diameter}) / 2);
    border-radius: calc(#{$event-dot-inner-diameter} / 2);
    background: $event-dot-color;
    animation: ripple 3s linear infinite;
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba($event-dot-color, 0.3),
                0 0 0 1em rgba($event-dot-color, 0.3);
  }
  100% {
    box-shadow: 0 0 0 1em rgba($event-dot-color, 0.3),
                0 0 0 2em rgba($event-dot-color, 0.01);
  }
}